.full-height{
  min-height: 100vh;
}
.orange-bg{
  background-color: rgb(255, 205, 111);
}
.landing-images{
  width: 50%;
}
.register-box{
  min-width: 50%;
}
.image-upload-box{
  background-color: #f8daff;
  padding: 10vh;
  border-radius: 15px; 
}
.image-upload-png{
  width: 100px;
}